Repository Guts/mkdocs-rss-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, quality

fix(docs): use raw GH image to workaround JSON Feed icon failing
  docs/index.md
Labels: none

small formatting & naming updates
  README.md
  docs/configuration.md
  docs/index.md
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/plugin.py
  tests/fixtures/mkdocs_custom_title_description.yml
  tests/test_build.py
  tests/test_config.py
Labels: quality

tooling(hook): add a check against docstring convention
  .pre-commit-config.yaml
Labels: none

improve(docstrings): homogeneize docstring convention
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/git_manager/ci.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
  setup.cfg
Labels: none

fix(config): do not raise error for bad date_from_meta.default_time value and fallback to default
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/plugin.py
Labels: none

release: bump version to 1.13.2
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

hotfix: bad default_time value type introduced in #300
  mkdocs_rss_plugin/plugin.py
Labels: none

release: bump version to 1.13.3
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

packaging: restore Python 3.8 and 3.9
  setup.py
Labels: none

Revert "packaging: restore Python 3.8 and 3.9"
  setup.py
Labels: none

compatibility: restore support for Python 3.8 and 3.9
  .github/workflows/lint-and-tests.yml
  .pre-commit-config.yaml
  mkdocs_rss_plugin/__about__.py
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/timezoner_pre39.py
  mkdocs_rss_plugin/util.py
  requirements/base.txt
  setup.py
  sonar-project.properties
  tests/dev/dev_markdown_extension_rss.py
  tests/test_build.py
  tests/test_build_no_git.py
  tests/test_config.py
  tests/test_integrations_material_social_cards.py
  tests/test_rss_util.py
  tests/test_timezoner.py
Labels: ci-cd, dependencies, quality

tests(compatibility): add minimal docker compose to quickly test against a specifi Python version
  tests/fixtures/test-build-min-python.dockerfile
Labels: quality

fix(types): remove Union since option does not support boolean anymore and it was breaking Python< 3.10
  mkdocs_rss_plugin/config.py
Labels: none

release: bump version to 1.13.4
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

[Fix] Update docs for as_update (boolean not supported anymore)
  docs/configuration.md
  docs/schema.json
Labels: none

Fix extra
  docs/configuration.md
Labels: none

improve(remote_images): handle connection error
  mkdocs_rss_plugin/util.py
Labels: none

improve(http): disable warnings for unverified requests
  mkdocs_rss_plugin/util.py
Labels: none

feature(http): use caching control to improve HTTP requests performance
  mkdocs_rss_plugin/util.py
  requirements/base.txt
Labels: dependencies

feature(options): add cache_dir option
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/constants.py
  mkdocs_rss_plugin/plugin.py
Labels: none

dev(script): add a minimal script to try out Caching Control
  tests/dev/dev_cached_http.py
Labels: quality

feat: allow per-page description customization
  mkdocs_rss_plugin/util.py
Labels: none

fix(tests): add new option to tests
  tests/test_config.py
Labels: quality

add the relevant docs
  docs/configuration.md
Labels: none

docs(cache_dir): add section about new cache_dir option
  docs/configuration.md
Labels: none

feature(plugin): add a flag attribute to acts depending on the used mkdocs command
  mkdocs_rss_plugin/plugin.py
Labels: none

fix(http): disable remote images fetching on Mkdocs serve
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
Labels: none

fix(startup): move per-build variables under on_startup event
  mkdocs_rss_plugin/plugin.py
Labels: none

fix(init): class attribute has t be defined also at init level
  mkdocs_rss_plugin/plugin.py
Labels: none

refacto(cleanup): rm achieved todo related to old code
  mkdocs_rss_plugin/config.py
Labels: none

release: bump version to 1.14.0
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

chore: add tests for per-page rss.feed_description
  tests/fixtures/docs/page_with_meta_override_rss_description.md
  tests/test_build.py
Labels: quality

add a concrete example for per-page description overriding
  docs/configuration.md
Labels: none

release: bump version to 1.15.0
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

Remove social options from example
  docs/configuration.md
Labels: none

fix(docs): footer sponsors link
  mkdocs.yml
Labels: none

Make match_path OS agnostic
  mkdocs_rss_plugin/plugin.py
Labels: none

update(packaging): remove support for Python 3.8, add support for 3.13
  .github/workflows/lint-and-tests.yml
  .pre-commit-config.yaml
  mkdocs_rss_plugin/timezoner_pre39.py
  mkdocs_rss_plugin/util.py
  setup.py
  sonar-project.properties
Labels: ci-cd

update(code): apply git hooks with new minimal Python version
  mkdocs_rss_plugin/plugin.py
  tests/test_build.py
Labels: quality

feature(integration): support social cards for blog plugin posts
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  tests/fixtures/docs/blog/.authors.yml
  tests/fixtures/docs/blog/index.md
  tests/fixtures/docs/blog/posts/firstpost.md
  tests/fixtures/docs/blog/posts/secondpost.md
  tests/fixtures/mkdocs_item_image_social_cards_blog.yml
  tests/test_integrations_material_social_cards.py
Labels: quality

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix

ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "*.md"
          - docs/**
          - requirements/documentation.txt
  - head-branch:
      - ^docs
      - documentation

enhancement:
  - head-branch:
      - ^feature
      - feature
      - ^improve
      - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - MANIFEST.in
          - setup.py
  - head-branch:
      - ^packaging
      - packaging

quality:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - ".*"
          - codecov.yml
          - setup.cfg
          - .vscode/**/*
  - head-branch:
      - ^tooling
      - tooling
