Repository Guts/mkdocs-rss-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, quality

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix

ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "*.md"
          - docs/**
          - requirements/documentation.txt
  - head-branch:
      - ^docs
      - documentation

enhancement:
  - head-branch:
      - ^feature
      - feature
      - ^improve
      - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - MANIFEST.in
          - setup.py
  - head-branch:
      - ^packaging
      - packaging

quality:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - ".*"
          - codecov.yml
          - setup.cfg
          - .vscode/**/*
  - head-branch:
      - ^tooling
      - tooling

update(tooling): remove encoding pragma remover from git hooks since it's deprecated
  .pre-commit-config.yaml
Labels: none

fix(logs): update references hyperlinks for git depth logs
  mkdocs_rss_plugin/git_manager/ci.py
Labels: none

improve(images): add timeout to remote images requests
  mkdocs_rss_plugin/util.py
Labels: none

improve(images): add timeout to remote images requests
  mkdocs_rss_plugin/util.py
Labels: none

improve(images): add timeout to remote images requests (#391)
  mkdocs_rss_plugin/util.py
Labels: none

fix(material): mkdocs_config.plugins.get("material/blog") can be None
  mkdocs_rss_plugin/integrations/theme_material_blog_plugin.py
Labels: none

update(docs): add SonarQube badge
  README.md
Labels: none

update(tooling): refine excluded authors
  .github/release.yml
Labels: ci-cd

release: bump version to 1.17.4
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

add(model): create MkdocsPageSubset to store Pages refs accross signals
  mkdocs_rss_plugin/models.py
Labels: none

update(model): move serialization to RSS item as PageInformation method
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/util.py
Labels: none

update(plugin): store subset of Mkdocs page to use later during on_post_build
  mkdocs_rss_plugin/plugin.py
Labels: none

update(plugin): factorize image fetching and page and RSS item related models
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/templates/rss.xml.jinja2
  mkdocs_rss_plugin/util.py
Labels: none

update(plugin): remove older refs to Page by SubsetPage
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
Labels: none

update(plugin): avoid duplicate image retrieval
  mkdocs_rss_plugin/util.py
Labels: none

fix(plugin): fill created and updated dates just before file creation to avoid "last called is right" effect
  mkdocs_rss_plugin/plugin.py
Labels: none

update(plugin): factorize RSS feeds i/o depending on pretty print option
  mkdocs_rss_plugin/plugin.py
Labels: none

update(json_feed): include created as date_published and updated as date_modified
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
Labels: none

remove(models): delete unued attributes
  mkdocs_rss_plugin/models.py
Labels: none

improve(performances): run RSS item image fetching only on filtered pages list (#394)
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/templates/rss.xml.jinja2
  mkdocs_rss_plugin/util.py
Labels: none

refactor(dates): working on date manipulation refactoring
  mkdocs_rss_plugin/util.py
Labels: none

update(packaging): remove Python 3.9 support (EOL) and add 3.14
  .github/workflows/lint-and-tests.yml
  .pre-commit-config.yaml
  docs/configuration.md
  requirements/base.txt
  setup.py
  tests/fixtures/test-build-min-python.dockerfile
Labels: ci-cd, dependencies, quality

update(chore): run pyupgrade with Python 3.10 as minimal version
  mkdocs_rss_plugin/integrations/theme_material_base.py
  mkdocs_rss_plugin/integrations/theme_material_blog_plugin.py
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
Labels: none
