Repository Guts/mkdocs-rss-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, quality

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix

ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "*.md"
          - docs/**
          - requirements/documentation.txt
  - head-branch:
      - ^docs
      - documentation

enhancement:
  - head-branch:
      - ^feature
      - feature
      - ^improve
      - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - MANIFEST.in
          - setup.py
  - head-branch:
      - ^packaging
      - packaging

quality:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - ".*"
          - codecov.yml
          - setup.cfg
          - .vscode/**/*
  - head-branch:
      - ^tooling
      - tooling

fix(integration): IS8BLOG_PLUGIN_ENABLED was not correctly use
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
Labels: none

fix(test): add blog as exception
  tests/test_build.py
Labels: quality

fix(test): exclude .authors.yml file from mkdocs config fixtures file
  tests/test_config.py
Labels: quality

release: bump version to 1.16.0
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

improve(material_integrations): add minimal test against material blog integration
  tests/fixtures/mkdocs_items_material_blog_enabled.yml
  tests/test_integrations_material_blog.py
Labels: quality

update(quality): add type hint to calm down sonarqube
  mkdocs_rss_plugin/integrations/theme_material_base.py
Labels: none

refacto(material_integrations): use POO to manage integrations with Material theme
  mkdocs_rss_plugin/integrations/theme_material_base.py
  mkdocs_rss_plugin/integrations/theme_material_blog_plugin.py
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
Labels: none

refacto(material_integrations): adapt social cards tests
  tests/test_integrations_material_social_cards.py
Labels: quality

update(quality): add test against Material theme integration base
  tests/test_integrations_material.py
Labels: quality

update(deps): upgrade minimal dependencies
  requirements/base.txt
  requirements/development.txt
  requirements/documentation.txt
  requirements/testing.txt
Labels: dependencies

update(chore): use typed dataclasses instead of dict
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/plugin.py
Labels: none

update(ci): enable manual trigger for build/publish doc
  .github/workflows/documentation.yml
Labels: ci-cd

feature(integration): make the integration with Material Blog configurable through an option
  README.md
  docs/configuration.md
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/integrations/theme_material_base.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
  tests/fixtures/mkdocs_items_material_blog_enabled.yml
Labels: quality

feature(integration): make the integration with Material Blog configurable through an option
  tests/test_config.py
Labels: quality

feature(material_blog): add method to identify if a page is part of Material blog
  mkdocs_rss_plugin/integrations/theme_material_blog_plugin.py
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
Labels: none

feature(material_blog): retrieve author name from Material blog authors file (typically .authors.yml)
  docs/integrations.md
  mkdocs_rss_plugin/integrations/theme_material_blog_plugin.py
  mkdocs_rss_plugin/util.py
Labels: none

feature(material_blog): support email attribute from .authors.yml
  mkdocs_rss_plugin/integrations/theme_material_blog_plugin.py
  tests/fixtures/docs/blog/.authors.yml
  tests/fixtures/docs/blog/posts/firstpost.md
Labels: quality

feature(material_blog): document how does work the Material Blog integration
  docs/integrations.md
Labels: none

feature(material_blog): extend tests against new blog integration
  tests/fixtures/mkdocs_items_material_blog_enabled_but_integration_disabled.yml
  tests/test_integrations_material_blog.py
Labels: quality

fix(imports): rm unused imports
  mkdocs_rss_plugin/integrations/theme_material_base.py
Labels: none

release: bump version to 1.17.0
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

fix(rss): email and name were inverted in output and so uncompliant
  mkdocs_rss_plugin/integrations/theme_material_blog_plugin.py
Labels: none

update(docs): move integrations page as independant menu
  mkdocs.yml
Labels: none

release: bump version to 1.17.1
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

fix(upstream): force jsonfeed-util version since it uses a non Python 3.9 syntax, breaking lint and tests
  requirements/testing.txt
Labels: dependencies

update(ci): trigger docs build if a documentation dependency has changed
  .github/workflows/documentation.yml
Labels: ci-cd

update(docs): switch mkdocstrings to explicit package for Python
  requirements/documentation.txt
Labels: dependencies

fix(docs): merge_init_into_class was not good indented
  mkdocs.yml
Labels: none

improve(docs): refine docstrings and API page
  docs/api.md
  mkdocs_rss_plugin/constants.py
  mkdocs_rss_plugin/git_manager/ci.py
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/timezoner.py
Labels: none

fix(material_social): use cards_dir to build cards url for page
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
Labels: none

Update testing.txt
  requirements/testing.txt
Labels: dependencies

wip
  docs/assets/scripts/simple_rss_parser_elementtree.py
  docs/assets/scripts/simple_rss_parser_feedparser.py
Labels: none

update(tests): use-case with Material social cards and directory URLs disabled
  tests/fixtures/mkdocs_item_image_social_cards_blog_directory_url_disabled.yml
  tests/test_integrations_material_social_cards.py
Labels: quality

fix(tests): remove is_dir test since there is a race condition making it failing on CI
  tests/test_integrations_material_social_cards.py
Labels: quality

release: bump version to 1.17.2
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

fix(tests): remove delete param from tempfile.TemporaryDirectory introduced only from Python >= 3.12
  tests/test_integrations_material_social_cards.py
Labels: quality

fix: return None if remote image length is unavailable
  mkdocs_rss_plugin/util.py
Labels: none

style: run black formatting
  mkdocs_rss_plugin/util.py
Labels: none

release: bump version to 1.17.3
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

fix: preserve sentence structure across newlines
  mkdocs_rss_plugin/plugin.py
  tests/test_build.py
Labels: quality
