Repository Guts/mkdocs-rss-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, quality

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix

ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "*.md"
          - docs/**
          - requirements/documentation.txt
  - head-branch:
      - ^docs
      - documentation

enhancement:
  - head-branch:
      - ^feature
      - feature
      - ^improve
      - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - MANIFEST.in
          - setup.py
  - head-branch:
      - ^packaging
      - packaging

quality:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - ".*"
          - codecov.yml
          - setup.cfg
          - .vscode/**/*
  - head-branch:
      - ^tooling
      - tooling

remove glightbox image wrapper if present; assume only one image
  mkdocs_rss_plugin/util.py
Labels: none

remove grid cards wrapper too, one failing test
  mkdocs_rss_plugin/util.py
Labels: none

match any new lines in the cleanups
  mkdocs_rss_plugin/util.py
Labels: none

feature(option): allow customize output filenames
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/constants.py
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/plugin.py
  tests/fixtures/mkdocs_custom_output_basename.yml
  tests/test_build.py
  tests/test_config.py
Labels: quality

feature: rename output_basename into feeds_filenames
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/plugin.py
  tests/fixtures/mkdocs_custom_feeds_filenames.yml
  tests/test_build.py
Labels: quality

docs: add how to customize output feeds filenames
  docs/configuration.md
Labels: none

fix: tests after renaming output option
  tests/fixtures/mkdocs_custom_feeds_filenames.yml
  tests/test_build.py
  tests/test_config.py
Labels: quality

tooling: add SonarCloud config
  sonar-project.properties
Labels: none

feature: allow multiple instances
  mkdocs_rss_plugin/plugin.py
  tests/base.py
  tests/dev/dev_load_config.py
  tests/fixtures/docs/blog/posts/sample_blog_post.md
  tests/fixtures/mkdocs_multiple_instances.yml
  tests/test_build.py
Labels: quality

improve(docs): order settings aZ and minor improvements on homepage
  docs/configuration.md
  docs/index.md
Labels: none

typo: indent
  mkdocs.yml
Labels: none

docs: complete JSON schema
  docs/schema.json
  mkdocs_rss_plugin/config.py
Labels: none

Attempt to extract date from only the last line of git log output
  mkdocs_rss_plugin/util.py
Labels: none

chore(deps): set minimum Mkdocs version to 1.4
  requirements/base.txt
Labels: dependencies

docs: fix internal links
  docs/configuration.md
  docs/integrations.md
Labels: none

tooling: bump minimal Python version to 3.10
  .pre-commit-config.yaml
Labels: none

chore(packaging): remove support of Python 3.8 and 3.9
  .github/workflows/lint-and-tests.yml
  setup.py
  sonar-project.properties
Labels: ci-cd

refacto(python): apply git hooks with Python >= 3.10
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
  tests/test_build.py
Labels: quality

imrpove: base_path expect an array
  mkdocs.yml
Labels: none

quality: rename compile into re_compile to avoid shadowing Python built-in
  mkdocs_rss_plugin/plugin.py
Labels: none

fix: json_url was not set when site_url is missing
  mkdocs_rss_plugin/plugin.py
Labels: none

refacto(config): modernize date_from_meta option switching to an object-based SubConfig
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/plugin.py
  tests/test_config.py
Labels: quality

refacto: remove deprecated date_from_meta.as_* bool
  mkdocs.yml
  tests/fixtures/mkdocs_complete.yml
  tests/fixtures/mkdocs_complete_no_git.yml
  tests/fixtures/mkdocs_simple.yml
Labels: quality

release: bump version to 1.13.0
  .mailmap
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none

fix: typo in logs
  mkdocs_rss_plugin/util.py
Labels: none

refacto(cleanup): remove python 3.9 related code and deps (timezone)
  mkdocs_rss_plugin/timezoner.py
  mkdocs_rss_plugin/timezoner_pre39.py
  mkdocs_rss_plugin/util.py
  requirements/base.txt
Labels: dependencies

chore(deps): add requests to perform http/s requests
  requirements/base.txt
Labels: dependencies

refacto(http): use requests instead of urllib to beter handle HTTP requests
  mkdocs_rss_plugin/util.py
Labels: none

check default_time before parsing
  mkdocs_rss_plugin/plugin.py
Labels: none

improve(logs): enhance some logs
  mkdocs_rss_plugin/util.py
Labels: none

docs: update full options
  README.md
Labels: none

feature(social_cards): add a method to determine if the material theme is in Insiders or Community edition
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
Labels: none

feature(social_cards): add method to determine cache folder
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
Labels: none

quality(sonarlint): rename method to limit confusion with attribute
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
Labels: none

allow per-feed customisations of title and description
  docs/configuration.md
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/plugin.py
  tests/fixtures/mkdocs_custom_title_description.yml
  tests/test_build.py
  tests/test_config.py
Labels: quality

fixed a few spelling typos in comments
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
  tests/base.py
Labels: quality

update documentation
  docs/configuration.md
Labels: none

update README to add new title & description keys
  README.md
Labels: none

feature(social_card): integrate with Material Social cache mechanism
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/util.py
Labels: none

release: bump version to 1.13.1
  CHANGELOG.md
  mkdocs_rss_plugin/__about__.py
Labels: none
