Repository Guts/mkdocs-rss-plugin, pull requests merged in 2022-03, with the labels that each got.

#111 Fix link error in JSON schema
  docs/schema.json
Labels: documentation

#112 Allow mkdocs 1.3
  setup.py
Labels: dependencies

#113 Unit testing enforced
  tests/base.py
  tests/fixtures/docs/page_with_meta.md
  tests/fixtures/mkdocs_bad_config.yml
  tests/fixtures/mkdocs_feed_length_custom.yml
  tests/fixtures/mkdocs_feed_ttl_custom.yml
  tests/fixtures/mkdocs_item_categories.yml
  tests/fixtures/mkdocs_item_comments.yml
  tests/fixtures/mkdocs_item_length_default.yml
  tests/fixtures/mkdocs_item_length_unlimited.yml
  tests/fixtures/mkdocs_item_no_comments.yml
  tests/fixtures/mkdocs_minimal.yml
  tests/fixtures/mkdocs_pretty_print_disabled.yml
  tests/fixtures/mkdocs_pretty_print_enabled.yml
  tests/test_build.py
Labels: enhancement
