Repository Guts/mkdocs-rss-plugin, pull requests merged in 2024-06, with the labels that each got.

#278 feature(option): allow customize output filenames
  docs/configuration.md
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/constants.py
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/plugin.py
  tests/fixtures/mkdocs_custom_feeds_filenames.yml
  tests/test_build.py
  tests/test_config.py
Labels: documentation, enhancement, quality

#279 tooling: add SonarCloud config
  sonar-project.properties
Labels: tooling

#280 feature: allow multiple instances
  mkdocs_rss_plugin/plugin.py
  tests/base.py
  tests/dev/dev_load_config.py
  tests/fixtures/docs/blog/posts/sample_blog_post.md
  tests/fixtures/mkdocs_multiple_instances.yml
  tests/test_build.py
Labels: enhancement, quality

#281 Docs: order settings aZ and minor improvements
  docs/configuration.md
  docs/index.md
  mkdocs.yml
Labels: documentation, enhancement

#282 docs: complete JSON schema with latest features
  docs/schema.json
  mkdocs_rss_plugin/config.py
Labels: documentation

#283 chore(deps): set minimum Mkdocs version to 1.4
  requirements/base.txt
Labels: dependencies

#284 docs: fix internal links
  docs/configuration.md
  docs/integrations.md
Labels: bug, documentation

#286 Chore: set minimal python version to 3.10
  .github/workflows/lint-and-tests.yml
  .pre-commit-config.yaml
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/models.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
  setup.py
  sonar-project.properties
  tests/test_build.py
Labels: ci-cd, tooling, quality, packaging

#285 Refacto: modernize config date from meta
  mkdocs.yml
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/plugin.py
  tests/fixtures/mkdocs_complete.yml
  tests/fixtures/mkdocs_complete_no_git.yml
  tests/fixtures/mkdocs_simple.yml
  tests/test_config.py
Labels: quality

#288 refacto(cleanup): remove python 3.9 related code and deps (timezone)
  mkdocs_rss_plugin/timezoner.py
  mkdocs_rss_plugin/timezoner_pre39.py
  mkdocs_rss_plugin/util.py
  requirements/base.txt
Labels: dependencies

#289 Fix remote image length warnings using requests instead of urllib (standard lib)
  mkdocs_rss_plugin/util.py
  requirements/base.txt
Labels: bug, dependencies

#294 Feature: improve social cards integration
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/util.py
Labels: enhancement

#295 Feature: add per-feed custom titles and abstracts
  README.md
  docs/configuration.md
  docs/index.md
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/integrations/theme_material_social_plugin.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
  tests/base.py
  tests/fixtures/mkdocs_custom_title_description.yml
  tests/test_build.py
  tests/test_config.py
Labels: documentation, enhancement, quality

#298 Improve: convert docstrings to google convention
  .pre-commit-config.yaml
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/git_manager/ci.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
  setup.cfg
Labels: enhancement, tooling

#300 fix(config): do not raise error for bad date_from_meta.default_time value and fallback to default
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/plugin.py
Labels: enhancement

#302 hotfix: bad default_time value type introduced in #300
  mkdocs_rss_plugin/plugin.py
Labels: bug

#306 [Fix] Update docs for as_update (boolean not supported anymore)
  docs/configuration.md
  docs/schema.json
Labels: bug, documentation

#307 improve(remote_images): handle connection error
  mkdocs_rss_plugin/util.py
Labels: bug

#308 improve(http): disable warnings for unverified requests
  mkdocs_rss_plugin/util.py
Labels: enhancement

#309 Feature: add http caching mechanism
  docs/configuration.md
  mkdocs_rss_plugin/config.py
  mkdocs_rss_plugin/constants.py
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
  requirements/base.txt
  tests/dev/dev_cached_http.py
  tests/test_config.py
Labels: documentation, enhancement, dependencies, quality

#311 feature(plugin): add a flag attribute to acts depending on the used Mkdocs command
  mkdocs_rss_plugin/plugin.py
  mkdocs_rss_plugin/util.py
Labels: bug
